<div
  id="transactions-types"
  tabindex="-1"
  aria-hidden="false"
  data-twe-toggle="transactions-types"
  class="hidden bg-gray-600 bg-opacity-50 overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-full max-h-full"
>
  <div class="flex gap-16">
    <button
      data-modal-target="expense-modal"
      data-modal-toggle="expense-modal"
      type="button"
      class="create-record-options bg-red-700"
    >
      <span class="material-icons-outlined"> shopping_cart </span>
      Gasto
    </button>
    <button
      data-modal-target="income-modal"
      data-modal-toggle="income-modal"
      type="button"
      class="create-record-options bg-green-600"
    >
      <span class="material-icons-outlined"> savings </span>
      Receita
    </button>

    <button
      type="button"
      class="create-record-options bg-yellow-400"
      data-modal-target="credit-modal"
      data-modal-toggle="credit-modal"
    >
      <span class="material-icons-outlined"> credit_card </span>
      Cartão de Crédito
    </button>

    <button
      type="button"
      class="create-record-options bg-blue-600"
    >
      <span class="material-icons-outlined"> sync_alt </span>
      Transferência
    </button>
  </div>
</div>

<app-create-expense-modal [id]="'expense-modal'" [transactionType]="0" ></app-create-expense-modal>
<app-create-expense-modal [id]="'income-modal'" [transactionType]="1" ></app-create-expense-modal>
<app-create-expense-modal [id]="'credit-modal'" [transactionType]="2" ></app-create-expense-modal>
