<h2 class="md:ml-6 md:mb-4 md:mt-4 md:block flex items-center justify-center mb-2 mt-3 text-xl font-semibold tracking-wide">{{ data.newAccount ? "Criar Conta" : "Editar Conta" }}</h2>
<mat-dialog-content class="md:w-[600px] w-full">
  <form
    [formGroup]="accountForm"
    (ngSubmit)="createNewAccount()"
    class="m-8 flex flex-col gap-6"
  >
    @if(data.newAccount) {
    <div>
      <label
        for="balance"
        class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
        >Saldo Inicial</label
      >
      <input
        id="balance"
        formControlName="balance"
        appCurrencyMask
        thousandSeparator="."
        prefix="R$ "
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
        required
      />
    </div>
    }

    <div>
      <label
        for="bank"
        class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
        >Instituição Financeira</label
      >
      <input
        formControlName="bank"
        type="text"
        id="bank"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
        placeholder="Digite o nome dessa conta."
        required
      />
    </div>


    <div class="">
      <label
        for="description"
        class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
        >Descrição</label
      >
      <textarea
        formControlName="description"
        id="description"
        rows="2"
        class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
        placeholder="Insira uma descrição para essa conta..."
      ></textarea>
    </div>

    <div class="">
      <div class="">
        <p class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
          Cor da Conta
        </p>
        <div class="flex w-full gap-2 flex-wrap">
          @for(color of defaultColors; track color) {
          <button
            type="button"
            (click)="setDefaultColor(color)"
            [style.background-color]="color.code"
            class="size-8 rounded-full"
            [ngClass]="{ 'border-[3px] border-gray-700': color.selected }"
          >
            @if(color.selected) { }
          </button>
          }

        </div>
      </div>
    </div>
    
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button (click)="closeDialog(false)">Cancelar</button>
  <button
    [disabled]="!accountForm.valid"
    mat-button
    (click)="createNewAccount()"
  >
  {{ data.newAccount ? "Criar" : "Editar" }}
  </button>
</mat-dialog-actions>
