<section
  class="registration-container"
>
  <div class="flex flex-col w-full gap-2">
    <div class="flex w-full justify-between items-center mb-4">
      <h2 class="text-2xl font-bold text-slate-700 tracking-wide">Cartões de Crédito</h2>

      <button
        (click)="openCreditCardDialog()"
        class="flex items-center gap-2 bg-teal-200 rounded-lg px-2 py-1"
      >
        <span
          aria-label="sinal de mais"
          class="material-symbols-outlined text-xl text-teal-700"
        >
          add_circle
        </span>
        <p class="text-sm text-teal-700">Adicionar Cartão</p>
      </button>
    </div>


    <ul class="flex flex-col gap-2">
      @for(creditcard of $creditCards | async; track creditcard) {
        <li
          class="w-full py-4 gap-2 flex justify-between items-center rounded-lg"
        >
          <h3 class="text-base text-slate-600 font-semibold w-3/12">
            {{ creditcard.account.bank }}
          </h3>
          <div class="flex items-center justify-center gap-2 text-low flex-col text-xs">
            <p class="">Fatura Usada:</p>
            <p class="font-medium text-red-600">
              {{ creditcard.usedLimit | currency : "BRL" : "symbol" }}
            </p>
          </div>
          <div class="flex items-center justify-center gap-2 text-low flex-col text-xs">
            <p class="">Fatura Disponível:</p>
            <p class="font-medium text-green-600">
              {{
                creditcard.totalLimit - creditcard.usedLimit
                  | currency : "BRL" : "symbol"
              }}
            </p>
          </div>
          <!-- <div class="flex items-center justify-center gap-2 text-low flex-col text-xs">
            <p class="">Fechamento:</p>
            <p class="font-medium text-slate-600">
              dia {{creditcard.closeDay}}
            </p>
          </div>
          <div class="flex items-center justify-center gap-2 text-low flex-col text-xs">
            <p class="">Vencimento:</p>
            <p class="font-medium text-slate-600">
              dia {{creditcard.dueDay}}
            </p>
          </div> -->

          <div class="flex justify-between items-center gap-2">
            <!-- @if(day < creditcard.closeDay) {
              <p class="text-xs font-light text-blue-600">
                desse mês
              </p>
            }
            @else {
              <p class="text-xs font-light text-green-500">
                próximo mês
              </p>
            } -->
            <button (click)="openInvoicesDialog(creditcard.account.id)" type="button" class="self-end mt-2 text-blue-600 text-sm">
              detalhes
            </button>
          </div>
        </li>
        }
    </ul>

  </div>
</section>
