<app-modal
  [id]="id"
  [header]="transactionType === 0 ? 'Registar Gasto' : 'Registar Receita'"
  [disabledButton]="!transactionForm.valid"
  (onSubmit)="createTransaction()"
  (onClose)="cleanForm()"
>
  <form [formGroup]="transactionForm" class="m-4 flex flex-col gap-6">
    <div
      [ngClass]="{
        'border-red-700': transactionType === 0,
        'border-green-600': transactionType === 1
      }"
      class="flex gap-2 items-center justify-center border-b-2"
    >
      <label
        [ngClass]="{
          'text-red-700': transactionType === 0,
          'text-green-600': transactionType === 1
        }"
        for="visitors"
        class="h-full text-2xl dark:text-white"
        >R$
      </label>
      <input
        formControlName="amount"
        type="number"
        id="visitors"
        [ngClass]="{
          'text-red-700': transactionType === 0,
          'text-green-600': transactionType === 1
        }"
        class="text-2xl border-none focus:border-none block w-full"
        placeholder=""
        required
      />
    </div>

    <div class="">
      <label
        for="description"
        class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
        >Descrição</label
      >
      <textarea
        formControlName="description"
        id="description"
        rows="4"
        class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
        placeholder="Insira uma descrição para esse registro..."
      ></textarea>
    </div>

    <div>
      <label
        for="destination"
        class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
        >Destino</label
      >
      <input
        formControlName="destination"
        type="text"
        id="destination"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
        [placeholder]="
          transactionType === 0 ? 'Destino do Gasto' : 'Origem da Receita'
        "
        required
      />
    </div>

    <div class="w-full">
      <p class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
        Categoria
      </p>
      <button
        [attr.data-dropdown-toggle]="id + 'category'"
        class="w-full py-2 border-b-2 border-solid border-gray-500"
        type="button"
      >
        <p
          [ngStyle]="{'border-color': selectedCategory?.color}"
          class="flex items-center gap-2 rounded-2xl  border-2 border-solid bg-gray-200 text-sm py-1 px-4 text-gray-900 w-fit"
        >
          <span class="material-icons-outlined">
            {{ selectedCategory?.icon }} </span
          >{{ selectedCategory?.name }}
        </p>
      </button>

      <!-- Dropdown menu -->
      <div
        [id]="id + 'category'"
        class="z-10 hidden bg-slate-50 divide-y divide-gray-100 rounded-lg shadow w-full dark:bg-gray-700"
      >
        <ul
          class="h-44 overflow-y-auto py-2 text-sm text-gray-700 dark:text-gray-200"
          [attr.aria-labelledby]="id + 'category'"
        >
          @for(category of categories; track category) {
          <li>
            <button
              (click)="changeSelectedItem(category)"
              type="button"
              class="flex items-center gap-2 w-full text-start px-4 py-2 hover:bg-white dark:hover:bg-gray-600 dark:hover:text-white"
            >
              <span class="material-icons-outlined"> {{ category.icon }} </span>
              {{ category.name }}
            </button>
          </li>
          }
        </ul>
      </div>
    </div>

    <div class="w-full">
      <p class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
        Conta
      </p>
      <button
        [attr.data-dropdown-toggle]="id + 'conta'"
        class="w-full py-2 border-b-2 border-solid border-gray-500"
        type="button"
      >
        <p
          [ngStyle]="{'border-color': selectedAccount?.color}"
          class="rounded-2xl border-2 border-solid bg-gray-200 text-sm py-1 px-4 text-gray-900 w-fit"
        >
          {{ selectedAccount?.bank }}
        </p>
      </button>

      <!-- Dropdown menu -->
      <div
        [id]="id + 'conta'"
        class="z-10 hidden bg-slate-50 divide-y divide-gray-100 rounded-lg shadow w-full dark:bg-gray-700"
      >
        <ul
          class="h-44 overflow-y-auto py-2 text-sm text-gray-700 dark:text-gray-200"
          [attr.aria-labelledby]="id + 'conta'"
        >
          @for(account of accounts; track account) {
          <li>
            <button
              (click)="changeSelectedItem(account)"
              type="button"
              class="w-full text-start block px-4 py-2 hover:bg-white dark:hover:bg-gray-600 dark:hover:text-white"
            >
              {{ account.bank }}
            </button>
          </li>
          }
        </ul>
      </div>
    </div>

    <div class="">
      <p class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
        Data do registro
      </p>
      <div class="flex w-full gap-2">
        <button
          type="button"
          class="rounded-2xl bg-gray-200 text-sm py-1 px-4 text-gray-900"
          [ngClass]="{
            'bg-red-600 font-normal text-white':
              dateOptions.today && transactionType === 0
          }"
          [ngClass]="{
            'bg-green-600 font-normal text-white':
              dateOptions.today && transactionType === 1
          }"
          (click)="setDateOption(0)"
        >
          Hoje
        </button>
        <button
          type="button"
          class="rounded-2xl bg-gray-200 text-sm py-1 px-4 text-gray-900"
          [ngClass]="{
            'bg-red-600 font-normal text-white':
              dateOptions.yesterday && transactionType === 0
          }"
          [ngClass]="{
            'bg-green-600 font-normal text-white':
              dateOptions.yesterday && transactionType === 1
          }"
          (click)="setDateOption(1)"
        >
          Ontem
        </button>

        <button
          type="button"
          [ngClass]="{
            'bg-red-600 font-normal text-white':
              dateOptions.otherdate && transactionType === 0
          }"
          [ngClass]="{
            'bg-green-600 font-normal text-white':
              dateOptions.otherdate && transactionType === 1
          }"
          class="rounded-2xl bg-gray-200 text-sm py-1 px-4 text-gray-900"
          (click)="setDateOption(2)"
        >
          {{ dateOptions.otherdate ? formatedDate() : "Outra Data" }}
        </button>
      </div>
    </div>

    <div class="">
      <p class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
        Tipo da conta
      </p>
      <div class="flex w-full gap-2 flex-wrap">
        @for(type of getTypes(); track type) {
        <button
          type="button"
          (click)="setExpenseType(type)"
          [ngClass]="{ 'border-2 border-gray-600': type.selected }"
          class="rounded-2xl bg-gray-200 text-sm py-2 px-3 text-gray-900"
        >
          {{ type.name }}
        </button>
        }
      </div>
    </div>
  </form>
</app-modal>
<!-- (click)=""
           -->
