<main>
  <header class="pb-8 bg-teal-50">Controle certo</header>

  <div id="principal-container" class="w-full flex justify-center bg-teal-50 py-4">
    <div id="principal" class="grid grid-cols-2 py-4 w-full md:max-w-[1300px]">
      <div
        id="use_controle-certo"
        class="flex flex-col gap-8 items-start mt-10"
      >
        <h1 class="text-5xl text-slate-900">
          Solução para seu
          <span class="text-teal-700"> Controle</span> financeiro.
        </h1>

        <p class="text-lg text-slate-600">
          Buscamos sempre te ajudar com suas necessidades e organização da vida
          financeira.
        </p>

        <!-- <p-button severity="success" label="Começar" size="large" icon="" iconPos="right" class="pb-8 pt-4" /> -->

        <button
          class="py-2 px-5 m-0 border-0 bg-teal-500 shadow flex items-center gap-3 rounded-lg"
        >
          <span class="text-white text-lg">Entrar agora</span>
          <i class="pi pi-arrow-right text-lg text-white"></i>
        </button>

        <div id="avatar" class="flex gap-5 mt-2">
          <div class="flex items-center gap-2">
            <p-avatar
              icon="pi pi-thumbs-up-fill"
              class="mr-2"
              [style]="{ color: '#0f766e' }"
            />
            <p class="text-sm text-slate-500">
              Fácil de usar, crie sua conta e já comece a usar.
            </p>
          </div>

          <div class="flex items-center gap-2">
            <p-avatar
              icon="pi pi-tablet"
              class="mr-2"
              [style]="{ color: '#0f766e' }"
            />
            <p class="text-sm text-slate-500">
              Site responsivo, entre em qualquer dispositivo.
            </p>
          </div>
        </div>
      </div>

      <div id="images_controle-certo" class="h-full">
        <img src="assets/principal.png" alt="Imagem de Controle certo">

      </div>
    </div>
  </div>

  
</main>
