<main class="w-full mb-6">
  <section
    class="registration-container !max-w-full overflow-hidden lg:!w-[800px]"
  >
    <div
      class="flex w-full justify-between flex-col sm:flex-row items-center mb-4"
    >
      <!-- Título + menu -->
      <div class="sm:w-6/12 flex gap-2 items-center">
        <h2 class="text-xl text-slate-700 tracking-wide">Lançamentos</h2>

        <button
          [matMenuTriggerFor]="menu"
          type="button"
          class="border-none size-6 text-white bg-emerald-400 rounded-full flex justify-center items-center transition-transform transform hover:rotate-90 duration-300"
        >
          <span class="material-symbols-outlined text-xl font-bold"> add </span>
        </button>
        <mat-menu class="!mt-2" #menu="matMenu">
          <button
            (click)="openCreateTransactionDialog(0)"
            class="!text-red-700 !py-0 !text-sm"
            mat-menu-item
          >
            <span class="!text-sm pr-2 material-icons-outlined">
              shopping_cart
            </span>
            <span class="!text-sm">Gasto</span>
          </button>
          <button
            (click)="openCreateTransactionDialog(1)"
            class="!text-green-600 !py-0 !text-sm"
            mat-menu-item
          >
            <span class="!text-sm pr-2 material-icons-outlined"> savings </span>
            <span class="!text-sm">Receita</span>
          </button>
          <button
            (click)="openCreateTransactionDialog(2)"
            class="!text-yellow-400 !py-0 !text-sm"
            mat-menu-item
          >
            <span class="!text-sm pr-2 material-icons-outlined">
              credit_card
            </span>
            <span class="!text-sm"> Cartão de Crédito</span>
          </button>
          <button
            (click)="openTranferDialog()"
            class="!text-blue-600 !py-0 !text-sm"
            mat-menu-item
          >
            <span class="!text-sm pr-2 material-icons-outlined">
              sync_alt
            </span>
            <span class="!text-sm">Transferência</span>
          </button>
        </mat-menu>
      </div>

      <div class="flex justify-between items-center w-full px-4">
        <!-- Filtro de Mês -->
        <div class="sm:py-0 py-3 flex gap-4 justify-center items-center">
          <button
            (click)="prevMonthFilter()"
            type="button"
            aria-label="Mês anterior"
            class="border-none bg-inherit flex items-center"
          >
            <span class="text-slate-700 material-symbols-outlined">
              chevron_left
            </span>
          </button>
          <p class="text-base tracking-wide text-slate-700 w-40 text-center">
            {{ formaterService.getMonthYearString(filterDate) }}
          </p>
          <button
            (click)="nexMonthFilter()"
            type="button"
            aria-label="Próximo mês"
            class="border-none bg-inherit flex items-center"
          >
            <span class="text-slate-700 material-symbols-outlined">
              chevron_right
            </span>
          </button>
        </div>

        <!-- BOTÃO DE OPÇÕES DE FILTROS -->
        <button
          (click)="options.toggle($event)"
          type="button"
          class="bg-inherit border-none bg-teal-600 rounded px-3 py-1"
        >
          <span class="material-symbols-outlined !text-lg text-white">
            more_vert
          </span>
        </button>

        <!-- FILTROS GERAIS -->
        <p-overlayPanel appendTo="body" #options class="!absolute">
          <div class="w-[26rem] flex flex-col gap-3">
            <div class="">
              <label for="searchInput" class="label">Buscar por texto</label>
              <p-inputGroup>
                <p-inputGroupAddon>
                  <i class="pi pi-search"></i>
                </p-inputGroupAddon>
                <input
                  [(ngModel)]="filterOptions.textFilter"
                  id="searchInput"
                  pInputText
                  placeholder="Buscar"
                />
              </p-inputGroup>
            </div>

            <div class="">
              <label for="accountsFilter" class="label"
                >Filtrar por conta</label
              >
              <p-dropdown
                id="accountsFilter"
                [options]="accounts"
                [(ngModel)]="filterOptions.accountFilter"
                optionLabel="name"
                [showClear]="true"
                placeholder="Selecione uma conta"
                [style]="{ width: '100%' }"
                appendTo="body"
              >
                <!-- Template para o item selecionado -->
                <ng-template pTemplate="selectedItem">
                  <div
                    style="height: 20px"
                    class="flex items-center gap-2"
                    *ngIf="filterOptions.accountFilter"
                  >
                    <div
                      [ngStyle]="{
                        'background-color': filterOptions.accountFilter.color
                      }"
                      class="rounded-selection-item"
                    >
                      <span
                        class="material-symbols-outlined"
                        style="font-size: 1rem; color: white"
                      >
                        account_balance
                      </span>
                    </div>
                    <p class="custom-text-style">
                      {{ filterOptions.accountFilter.bank }}
                    </p>
                  </div>
                </ng-template>

                <!-- Template para cada item na lista -->
                <ng-template let-account pTemplate="item">
                  <div style="height: 20px" class="flex items-center gap-2">
                    <div
                      [ngStyle]="{ 'background-color': account.color }"
                      class="rounded-selection-item"
                    >
                      <span
                        class="material-symbols-outlined"
                        style="font-size: 1rem; color: white"
                      >
                        account_balance
                      </span>
                    </div>
                    <p class="custom-text-style">
                      {{ account.bank }}
                    </p>
                  </div>
                </ng-template>
              </p-dropdown>
            </div>

            <div class="flex items-center gap-2 mt-1">
              <label class="label">Ordenar por data</label>
              <p-selectButton
                [options]="dataOptionsLabel"
                [(ngModel)]="filterOptions.dateFilterDes"
                optionLabel="label"
                optionValue="value"
              />
            </div>
            <div class="">
              <p-checkbox
                [(ngModel)]="filterOptions.type"
                [binary]="true"
                inputId="typeFilter"
                label="Ordenar por tipo"
              />
            </div>

            <div class="">
              <p-checkbox
                [(ngModel)]="selectMode"
                [binary]="true"
                inputId="selectMode"
                label="Selecionar Transações"
              />
            </div>

            <div class="">
              <p-checkbox
                [(ngModel)]="filterOptions.hideInvoices"
                (onChange)="setSeeInvoice()"
                [binary]="true"
                inputId="seeInvoice"
                label="Despesas de cartão como transações"
              />
            </div>
          </div>
        </p-overlayPanel>
      </div>
    </div>

    <div class="w-full">
      <!-- LISTA DE TRANSAÇÕES -->
      @for(transaction of filteredTransactions; track transaction) {
      <app-transaction-expansion-panel
        [selectMode]="selectMode"
        (checkedEvent)="checkedTransatcionUpdate($event)"
        [transaction]="transaction"
        [updateTransactions]="updateTransactions"
      ></app-transaction-expansion-panel>

      <!-- LISTA DE TRANSAÇÃO VAZIA -->
      } @if(filteredTransactions.length === 0 && invoices.length === 0) {
      <div class="flex w-full items-center min-h-32">
        <p class="text-center w-full text-slate-700">
          Não foi encontrado nenhum lançamento para esse mês.
        </p>
      </div>
      }
    </div>

    <!-- LISTA DE FATURAS -->
    @if(invoices.length) { @for(invoice of invoices; track invoice) {
    @if(invoice.totalAmount > 0) {
    <div class="w-full h-[2px] rounded-2xl bg-slate-200 my-1"></div>
    <mat-expansion-panel
      [expanded]="false"
      class="!shadow-none !bg-none flex w-full items-center rounded-sm !p-0"
    >
      <mat-expansion-panel-header class="!p-0 w-full">
        <div class="w-6/12 flex gap-2 items-center">
          <div
            class="text-white bg-slate-500 rounded-full w-8 h-8 flex items-center justify-center p-2"
          >
            <span class="material-symbols-outlined text-xl"> credit_card </span>
          </div>
          <h3 class="text-sm text-slate-900 font-medium">
            Fatura {{ formaterService.getMonthYearString(invoice.invoiceDate) }}
          </h3>
        </div>

        <div class="w-2/12 flex items-center justify-center overflow-hidden">
          <p
            class="whitespace-nowrap overflow-hidden text-ellipsis text-base text-slate-500"
          >
            {{ invoice.creditCard.description }}
          </p>
        </div>

        <div class="w-4/12 flex items-center justify-end">
          <p class="w-6/12 text-sm tracking-wide text-black">
            <span class=" ">-</span>
            {{ formaterService.formatCurrency(invoice.totalAmount) }}
          </p>
        </div>
      </mat-expansion-panel-header>

      <!-- DETALHES DA FATURA -->
      <div
        class="w-full flex gap-4 pt-2 pb-3 px-1 items-center border-0 border-b border-b-slate-300 border-solid"
      >
        <div class="w-6/12">
          <div *ngIf="invoice.isPaid" class="font-medium">Fatura Paga</div>
          <div *ngIf="!invoice.isPaid" class="font-medium">
            <p class="">Fatura Pendente</p>
            <p class="">
              Falta a ser pago:
              {{
                invoice.totalAmount - invoice.totalPaid | currency : "BRL" : ""
              }}
            </p>
          </div>
        </div>

        <div class="w-6/12 flex items-center justify-between sm:mr-8 gap-2">
          <a
            [routerLink]="['/invoices', invoice.id]"
            class="text-center sm:px-3 sm:py-1 px-1 bg-blue-600 text-white sm:rounded-2xl rounded-lg text-sm sm:text-base cursor-pointer"
            >Ir para fatura</a
          >

          <button
            *ngIf="!invoice.isPaid"
            (click)="openPaymentInvoiceDialog(invoice)"
            type="button"
            class="border-none text-center sm:px-3 sm:py-1 px-1 bg-green-600 text-white sm:rounded-2xl rounded-lg text-sm sm:text-base cursor-pointer"
          >
            Pagar Fatura
          </button>
        </div>
      </div>

      <!-- TRANSAÇÕES DA FATURA -->
      @for(transaction of invoice.transactions; track transaction) {
      <app-transaction-expansion-panel
        [transaction]="transaction"
        [updateTransactions]="updateTransactions"
      ></app-transaction-expansion-panel>
      }
    </mat-expansion-panel>
    } } }

    <!-- DEMONSTRATIVO DE SALDO -->
    @if(filteredTransactions.length > 0 || invoices.length > 0) {
    <div
      class="my-2 py-2 border-0 border-t-2 border-solid border-slate-200 flex flex-col sm:flex-row justify-between w-full"
    >
      <div class="flex-1">
        <p class="text-base tracking-wide text-slate-600">
          Demonstrativo de Saldo
        </p>
      </div>

      <div class="sm:px-4 sm:w-8/12 w-full flex gap-2">
        <div class="sm:pl-7 flex flex-col w-full">
          <div class="flex items-center justify-between h-8">
            <p class="p-text-balance">receita</p>
            <p class="sm:mr-4 mr-1 text-sm font-medium text-green-600">
              {{ incomesTotal() | currency : "BRL" : "" }}
            </p>
          </div>

          <div class="flex items-center justify-between h-8">
            <p class="p-text-balance">despesa</p>
            <p class="sm:mr-4 mr-1 text-sm font-medium text-red-600">
              {{ expensesTotal() | currency : "BRL" : "" }}
            </p>
          </div>

          <div class="flex items-center justify-between h-8">
            <p class="p-text-balance">fatura</p>
            <p class="sm:mr-4 mr-1 text-sm font-medium text-slate-700">
              {{ invoiceTotal() | currency : "BRL" : "" }}
            </p>
          </div>
        </div>

        <div class="sm:pl-7 flex flex-col w-full">
          <div class="flex items-center justify-between h-8">
            <p class="p-text-balance">saldo anterior</p>
            <p class="sm:mr-4 mr-1 text-sm font-medium text-amber-600">
              {{
                accountBalance + expensesTotal() - incomesTotal()
                  | currency : "BRL" : ""
              }}
            </p>
          </div>

          <div class="flex items-center justify-between h-8">
            <p class="p-text-balance">saldo atual</p>
            <p class="sm:mr-4 mr-1 text-sm font-medium text-blue-600">
              {{ accountBalance | currency : "BRL" : "" }}
            </p>
          </div>

          <div class="flex items-center justify-between h-8">
            <p class="p-text-balance">saldo previsto</p>
            <p class="sm:mr-4 mr-1 text-sm font-medium text-indigo-700">
              {{ accountBalance - invoiceTotal() | currency : "BRL" : "" }}
            </p>
          </div>
        </div>
      </div>
    </div>
    }
  </section>
</main>

<app-transaction-dialog #transactionDialog></app-transaction-dialog>
<app-transfer-dialog #transferDialog></app-transfer-dialog>