@if(data) {
<p-dialog
  [header]="data.newCategory ? 'Criar Categoria' : 'Editar Categoria'"
  [modal]="true"
  [(visible)]="visible"
  [style]="{ width: '40rem' }"
  [dismissableMask]="true"
  (onHide)="closeDialog(false)"
>
  <ng-template pTemplate="body" class="bg-slate-300">
    <form [formGroup]="categoryForm" class="m-4 flex flex-col gap-4">
      <!-- NOVO DA CATEGORIA -->
      <div class="">
        <label for="name" class="label">Nome e Ícone da Categoria</label>
        <!-- ICONE + COR -->
        <div class="flex items-center gap-4">
          <button
            pTooltip="Escolha o ícone e a cor da categoria"
            tooltipPosition="right"
            class="'rounded-md text-white' border-none bg-inherit flex justify-center items-center p-2"
            [ngStyle]="{
              'background-color': categoryForm.value.color
            }"
            (click)="iconPanel.toggle($event)"
            type="button"
          >
            <span class="material-symbols-outlined">
              {{ selectedIcon }}
            </span>
          </button>

          <!-- NOME DA CATEGORIA -->
          <input
            pInputText
            class="w-full"
            formControlName="name"
            type="text"
            id="name"
            placeholder="Digite o nome da categoria."
            required
          />

          <p-overlayPanel
            #iconPanel
            styleClass=""
            [showCloseIcon]="true"
            appendTo="body"
          >
            <p-tabView styleClass="w-96 h-60 overflow-y-scroll">
              <!-- SELEÇÃO DE ÍCONE -->
              <p-tabPanel header="Ícone">
                <ul class="p-0 m-0 mt-2 flex flex-wrap justify-start w-full">
                  @for (icon of icons; track icon) {
                  <li class="">
                    <button
                      class="border-none bg-inherit flex justify-center items-center p-1"
                      [ngClass]="{
                        'rounded-md bg-slate-900 text-white':
                          icon === selectedIcon
                      }"
                      (click)="changeSelectedIcon(icon)"
                      type="button"
                    >
                      <span class="material-symbols-outlined">
                        {{ icon }}
                      </span>
                    </button>
                  </li>
                  }
                </ul>
              </p-tabPanel>

              <!-- SELEÇÃO DE COR -->
              <p-tabPanel header="Cor">
                <div class="w-full flex items-center">
                  <p>Outra cor</p>
                  <p-colorPicker
                    formControlName="color"
                    appendTo="body"
                    styleClass="border-none size-8 rounded flex justify-center items-center mx-2 my-1"
                  ></p-colorPicker>
                </div>
                <ul class="p-0 m-0 mt-2 flex flex-wrap justify-start w-full">
                  @for (color of defaultColors; track color) {
                  <li class="">
                    <button
                      [style.background-color]="color"
                      class="border-none size-8 rounded flex justify-center items-center mx-2 my-1"
                      [ngClass]="{
                        'border-[1px] border-slate-300 !border-solid':
                          categoryForm.value.color === color
                      }"
                      (click)="setDefaultColor(color)"
                      type="button"
                    >
                      @if(categoryForm.value.color === color) {
                      <span class="material-symbols-outlined"> check </span>
                      }
                    </button>
                  </li>
                  }
                </ul>
              </p-tabPanel>
            </p-tabView>
          </p-overlayPanel>
        </div>
      </div>

      <!-- TIPO DA CATEGORIA (APENAS PARA CRIAÇÃO) -->
      @if(data.newCategory && !data.parentCategory) {
      <div class="">
        <p class="label">Tipo da Categoria</p>
        <div class="flex w-full gap-2">
          <p-selectButton
            [options]="categoriesTypeOptions"
            formControlName="billType"
            optionLabel="label"
            optionValue="value"
          />
        </div>
      </div>
      }

      <!-- CATEGORIA PAI -->
      <div class="w-full">
        <label for="label" class="label" for="categories">Sub-Categoria de</label>
        <p-dropdown
          id="categories"
          [options]="categories || []"
          [formControl]="categoryForm.controls.parentId"
          optionLabel="name"
          optionValue="id"
          [showClear]="true"
          placeholder="Selecionar (opcional)"
          [filter]="true"
          filterBy="name"
          [style]="{ width: '50%' }"
          appendTo="body"
        >
          <!-- Template para o item selecionado -->
          <ng-template pTemplate="selectedItem">
            <div
              style="height: 20px"
              class="flex items-center gap-2"
              *ngIf="selectedParentCategory"
            >
              <div
                [ngStyle]="{ 'background-color': selectedParentCategory.color }"
                class="rounded-selection-item"
              >
                <span
                  class="material-symbols-outlined"
                  style="font-size: 1rem; color: white"
                >
                  {{ selectedParentCategory.icon }}
                </span>
              </div>
              <p class="custom-text-style">
                {{ selectedParentCategory.name }}
              </p>
            </div>
          </ng-template>

          <!-- Template para cada item na lista -->
          <ng-template let-category pTemplate="item">
            <div style="height: 20px" class="flex items-center gap-2">
              <div
                [ngStyle]="{ 'background-color': category.color }"
                class="rounded-selection-item"
              >
                <span
                  class="material-symbols-outlined"
                  style="font-size: 1rem; color: white"
                >
                  {{ category.icon }}
                </span>
              </div>
              <p class="custom-text-style">
                {{ category.name }}
              </p>
            </div>
          </ng-template>
        </p-dropdown>
      </div>


    </form>
  </ng-template>

  <ng-template pTemplate="footer">
    <button
      pButton
      label="Fechar"
      icon="pi pi-times"
      size="small"
      severity="danger"
      (click)="closeDialog(false)"
    ></button>
    <button
      pButton
      [label]="data.newCategory ? 'Criar' : 'Editar'"
      icon="pi pi-check"
      size="small"
      severity="primary"
      (click)="createNewCategory()"
      [disabled]="!categoryForm.valid"
    ></button>
  </ng-template>
</p-dialog>

}
