<main class="w-[900px] flex justify-between mb-6">
  <section class="max-w-[140px] flex flex-col gap-2 mr-6 ">
    <ul class="">
      <li class="text-base text-gray-700 py-2 tracking-wide">
        <a
          [ngClass]="{ 'text-teal-700': isCurrentRoute('/accounts') }"
          routerLink="/registrations/accounts"
          class=""
        >
          Contas
        </a>
      </li>
      <li class="text-base text-gray-700 py-2 tracking-wide">
        <a
          [ngClass]="{ 'text-teal-700': isCurrentRoute('/creditcards') }"
          routerLink="/registrations/creditcards"
          class=""
        >
          Cartões
        </a>
      </li>
      <li class="text-base text-gray-700 py-2 tracking-wide">
        <a
          [ngClass]="{ 'text-teal-700': isCurrentRoute('/categories') }"
          routerLink="/registrations/categories"
          class=""
        >
          Categorias
        </a>
      </li>
    </ul>
  </section>
  <div class="w-full gap-1">
    <router-outlet></router-outlet>
  </div>
</main>
