<main class="lg:w-[900px] md:w-[740px] sm:w-[600px] w-screen md:flex md:justify-between mb-6">
  <section class="md:max-w-[140px] md:flex lg:flex-col gap-2 mr-6 ">
    <ul class="flex md:flex-col gap-3 items-center md:items-start justify-around md:justify-normal mb-3">
      <li class="text-base text-gray-700 tracking-wide">
        <a
          [ngClass]="{ 'text-teal-800 font-medium': isCurrentRoute('/accounts') }"
          routerLink="/registrations/accounts"
          class=""
        >
          Contas
        </a>
      </li>
      <li class="text-base text-gray-700 tracking-wide">
        <a
          [ngClass]="{ 'text-teal-800 font-medium': isCurrentRoute('/creditcards') }"
          routerLink="/registrations/creditcards"
          class=""
        >
          Cartões
        </a>
      </li>
      <li class="text-base text-gray-700 tracking-wide">
        <a
          [ngClass]="{ 'text-teal-800 font-medium': isCurrentRoute('/categories') }"
          routerLink="/registrations/categories"
          class=""
        >
          Categorias
        </a>
      </li>
    </ul>
  </section>
  <div class="w-full lg:gap-1">
    <router-outlet></router-outlet>
  </div>
</main>
