<section class="registration-container">
  <div class="flex w-full justify-between items-center mb-4">
    <h2 class="text-2xl font-bold text-slate-700 tracking-wide">Categorias</h2>

    <button
      (click)="openCreateCategoryDialog()"
      class="flex items-center gap-2 bg-teal-200 rounded-lg px-2 py-1"
    >
      <span
        aria-label="sinal de mais"
        class="material-symbols-outlined text-xl text-teal-700"
      >
        add_circle
      </span>
      <p class="text-sm text-teal-700">Categoria</p>
    </button>
  </div>
  <div class="flex flex-col w-full gap-2">
    <mat-tab-group>
      <mat-tab label="Despesas">
        <ul class="overflow-x-hidden">
          @for(category of expenseCategories; track category) {
          <li class="w-full border-b border-solid border-slate-200">
            <button (click)="toggleSideBarCategory(category)" class="relative px-2 py-2 flex items-center gap-4 group">
              <div
                [ngStyle]="{ 'background-color': category.color }"
                class="text-white rounded-full w-8 h-8 flex items-center justify-center relative group-hover:!bg-slate-400 transition duration-100"
              >
                <!-- HOVER EDIT ICON -->
                <span
                  aria-label="Editar conta"
                  class="material-symbols-outlined hidden group-hover:block text-xl text-slate-800 absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2"
                >
                  edit_square
                </span>
                <span class="material-symbols-outlined !text-base group-hover:hidden">
                  {{ category.icon }}
                </span>
              </div>

              <p class="text-sm text-slate-800 group-hover:font-medium">{{ category.name }}</p>
            </button>

            <div class=".sub-category-list-container">
              @for(subCategory of category.subCategories; track subCategory) {
                <button (click)="openEditCategoryDialog(subCategory)" class="ml-10 pb-2 py-2 flex items-center gap-4 group">
                  <div
                    [ngStyle]="{ 'background-color': subCategory.color }"
                    class="text-white rounded-full w-8 h-8 flex items-center justify-center relative group-hover:!bg-slate-400 transition duration-100"
                  >
                    <!-- HOVER EDIT ICON -->
                    <span
                      aria-label="Editar conta"
                      class="material-symbols-outlined hidden group-hover:block text-xl text-slate-800 absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2"
                    >
                      edit_square
                    </span>
                    <span class="material-symbols-outlined !text-base group-hover:hidden">
                      {{ subCategory.icon }}
                    </span>
                  </div>
    
                  <p class="text-sm text-slate-800 group-hover:font-medium">{{ subCategory.name }}</p>
                </button>
              }
            </div>

          </li>
          }
        </ul>
      </mat-tab>
      <mat-tab label="Receitas">
        <ul class="flex flex-col gap-3 mt-2">
          @for(category of incomeCategories; track category) {
          <li class="px-2 py-2 w-full border-b border-solid border-slate-200">
            <div class="flex items-center gap-4">
              <div
                [ngStyle]="{ 'background-color': category.color }"
                class="text-white rounded-full w-8 h-8 flex items-center justify-center"
              >
                <span class="material-icons-outlined !text-base">
                  {{ category.icon }}
                </span>
              </div>

              <p class="text-sm text-slate-800">{{ category.name }}</p>
            </div>
            <!-- <div class="w-full flex justify-between py-2">
            <p class="text-sm font-medium">Saldo atual</p>
            <p class="text-sm font-medium text-green-500">R$ {{ category. }}</p>
          </div> -->
          </li>
          }
        </ul></mat-tab
      >
    </mat-tab-group>
  </div>
</section>


<p-sidebar [(visible)]="categorySideBarOpen" position="bottom" styleClass="h-[300px] px-40">
  <div class="grid grid-cols-2">
    <div class="flex flex-col gap-2 items-center">
      <div
      [ngStyle]="{ 'background-color': selectedCategory?.color }"
      class="text-white rounded-full w-20 h-20 flex items-center justify-center relative group-hover:!bg-slate-400 transition duration-100"
    >
      <span class="material-symbols-outlined !text-3xl">
        {{ selectedCategory?.icon }}
      </span>
    </div>

    <p class="text-slate-800 text-xl font-medium">{{ selectedCategory?.name }}</p>

    <p-button label="Submit" />
    </div>

    <div class="">teste</div>
  </div>

</p-sidebar>