<h2 mat-dialog-title>
  {{ data.newCreditCard ? "Novo Cartão" : "Editar Cartão" }}
</h2>
<mat-dialog-content class="w-[600px]">
  <form [formGroup]="creditCardForm" class="m-4 flex flex-col gap-3">
    <div class="flex items-center gap-4">
      <!-- TOTAL LIMITE -->
      <div class="w-6/12">
        <label
          for="totalLimit"
          class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
          >Limite Total do Cartão</label
        >
        <input
          appCurrencyMask
          prefix="R$ "
          formControlName="totalLimit"
          type="text"
          id="totalLimit"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          required
        />
      </div>

      <!-- CONTA SELECT -->
      <div class="w-6/12">
        <p
          for="cardAccount"
          class="block text-sm font-medium text-gray-900 dark:text-white mb-2"
        >
          Conta do Cartão
        </p>
        <div
          role="button"
          tabindex="0"
          (click)="toggleSelection($event)"
          [class.!cursor-default]="data.newCreditCard === false"
          class="relative bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-700 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
        >
          <div class="w-full flex items-center">
            @if (selectedAccount) {
            <div class="gap-2 flex items-center w-full overflow-hidden">
              <div
                [ngStyle]="{
                  'background-color': selectedAccount!.color
                }"
                class="h-6 w-7 rounded-lg flex justify-center items-center"
              >
                <span class="material-symbols-outlined text-base text-white">
                  account_balance
                </span>
              </div>
              <p
                [class.!text-gray-500]="data.newCreditCard === false"
                class="overflow-hidden text-xs text-slate-800 font-semibold"
              >
                {{ selectedAccount!.bank || selectedAccount!.description }}
              </p>
            </div>
            } @else {
            <p
              class="text-sm text-slate-500 w-11/12 overflow-x-hidden text-ellipsis whitespace-nowrap"
            >
              Selecione uma conta
            </p>
            }

            <span class="ml-2 material-symbols-outlined text-slate-500">
              arrow_drop_down
            </span>
          </div>

          <div
            *ngIf="accountSelection()"
            class="w-full z-50 bg-white absolute top-full left-0 overflow-y-scroll rounded shadow"
          >
            @for (account of accounts; track account) {
            <button
              (click)="changeSelectedItem(account)"
              class="py-2 px-3 gap-2 flex items-center hover:bg-slate-200 transition-all duration-150 w-full"
            >
              <div
                [ngStyle]="{ 'background-color': account.color }"
                class="h-6 w-7 rounded-lg flex justify-center items-center"
              >
                <span class="material-symbols-outlined text-base text-white">
                  account_balance
                </span>
              </div>
              <p class="overflow-hidden text-xs text-slate-800 font-semibold">
                {{ account.bank }}
              </p>
            </button>
            }
          </div>
        </div>
      </div>
    </div>

    <div class="flex items-center gap-4">
      <div class="w-6/12">
        <div class="flex gap-1 items-center mb-2">
          <label
            for="closeDay"
            class="block text-sm font-medium text-gray-900 dark:text-white"
            >Dia de Fechamento
          </label>
          <span
            class="material-symbols-outlined text-lg"
            #tooltip="matTooltip"
            matTooltip="Dia que sua fatura fecha para pagamento. Insira um dia entre o dia 1 e o dia 21."
            matTooltipPosition="right"
            matTooltipHideDelay="200"
          >
            info
          </span>
        </div>
        <input
          formControlName="closeDay"
          type="number"
          id="closeDay"
          class="disabled:text-gray-500 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          required
        />
      </div>

      <div class="w-6/12">
        <div class="flex gap-1 items-center mb-2">
          <label
            for="dueDay"
            class="block text-sm font-medium text-gray-900 dark:text-white"
            >Dia de Vencimento
          </label>
          <span
            class="material-symbols-outlined text-lg"
            #tooltip="matTooltip"
            matTooltip="Dia que sua fatura vence. A data de vencimento precisa ser maior que a data de fechamento. Insira um dia entre o dia 2 e o dia 28."
            matTooltipPosition="right"
            matTooltipHideDelay="200"
          >
            info
          </span>
        </div>
        <input
          formControlName="dueDay"
          type="number"
          id="dueDay"
          class="disabled:border-gray-200 disabled:text-gray-500 disabled:cursor-not-allowed bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          required
        />
      </div>
    </div>

    <div class="flex items-center gap-1">
      <mat-checkbox class="!py-0" formControlName="oneWeekDifference"
        >Uma semana de diferença entre fechamento e vencimento.
      </mat-checkbox>
      <span
            class="material-symbols-outlined text-lg"
            #tooltip="matTooltip"
            matTooltip="A data de vencimento será calculado automaticamente sendo sempre uma semana depois da data do fechamento."
            matTooltipPosition="left"
            matTooltipHideDelay="200"
          >
            info
          </span>
    </div>

    <!-- Nome -->
    <div>
      <label
        for="description"
        class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
        >Nome</label
      >
      <input
        formControlName="description"
        type="text"
        id="description"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
        placeholder="Nome do cartão"
        required
      />
    </div>

    <div class="flex items-center gap-1">
      <mat-checkbox class="!py-0" formControlName="skipWeekend"
        >Considerar fim de semana no calculo da data de fechamento.
      </mat-checkbox>
      <span
            class="material-symbols-outlined text-lg"
            #tooltip="matTooltip"
            matTooltip="A data de fechamento e vencimento não cairá mais no fim de semana, pois caso aconteça a data de fechamento será ajustado para a próxima segunda-feira."
            matTooltipPosition="left"
            matTooltipHideDelay="200"
          >
            info
          </span>
    </div>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button (click)="closeDialog(false)">Cancelar</button>
  <button
    [disabled]="!creditCardForm.valid"
    mat-button
    (click)="createNewCreditCard()"
  >
    {{ data.newCreditCard ? "Criar" : "Editar" }}
  </button>
</mat-dialog-actions>
