<main class="w-[900px] flex justify-between mb-6 gap-4">
  <section
    class="w-[200px] flex items-center flex-col gap-1 bg-white rounded-lg p-4 pt-8 h-fit"
  >
    <div class="flex items-center justify-center flex-col w-full gap-2 pb-8">
      <div
        class="h-40 bg-slate-200 w-full rounded-lg flex items-center justify-center"
      >
        <span
          class="material-symbols-outlined text-black text-6xl"
          style="font-variation-settings: 'FILL' 1"
        >
          account_circle
        </span>
      </div>
      @if (loading) {
      <div class="flex w-full items-center justify-center min-h-32">
        <mat-spinner diameter="20"></mat-spinner>
      </div>
      }@else {
      <p class="text-slate-700 text-center">
        Usuário desde<br />{{ user!.createdAt | date : "dd/MM/yyyy" }}
      </p>
      }
    </div>
  </section>
  <section
    class="flex flex-wrap flex-col flex-1 w-full gap-1 bg-white rounded-lg p-4 pl-8 pt-8"
  >
    <div class="flex w-full mb-4">
      <h2 class="text-2xl font-bold text-slate-700 tracking-wide">Perfil</h2>
    </div>

    @if (loading) {
    <div class="flex w-full items-center justify-center min-h-32">
      <mat-spinner diameter="60"></mat-spinner>
    </div>
    } @else {
    <div class="flex flex-col gap-2">
      @if(!user!.emailConfirmed && !closeConfirmEmailAlert) {
      <div
        class="w-full py-2 px-4 bg-yellow-300 border-2 border-solid border-yellow-500 flex items-center justify-start rounded-2xl"
      >
        <div class="flex-1 flex gap-4 items-center">
          <p class="text-slate-800 text-sm">
            Seu e-mail ainda não foi confirmado
          </p>
          <button
            (click)="sendConfirmEmail()"
            type="button"
            class="text-sm px-2 py-1 rounded-lg bg-teal-500 text-white"
          >
            enviar e-mail
          </button>
        </div>
        <button
          type="button"
          (click)="sendCloseConfirmEmailAlert()"
          class="pointer flex items-center justify-center"
        >
          <span class="material-symbols-outlined"> close </span>
        </button>
      </div>
      }

      <!-- NOME -->
      <div class="mb-3">
        <label for="name" class="text-slate-500 pb-3 text-sm font-semibold"
          >Nome</label
        >
        <div class="relative">
          <p-inputGroup>
            <input
              pInputText
              class="w-full"
              type="text"
              id="name"
              style="padding-right: 2.25rem"
              placeholder="Seu nome"
              required
              [disabled]="!editName"
              [(ngModel)]="newNameString"
            />
            <p-inputGroupAddon>
              <button
                (click)="setEditName()"
                type="button"
                class="p-0 m-0 border-none bg-inherit cursor-pointer flex justify-center items-center"
              >
                @if (editName) {
                <span class="material-symbols-outlined text-green-500">
                  check_circle
                </span>
                }@else {
                <span class="material-symbols-outlined text-slate-400">
                  edit_square
                </span>
                }
              </button>
            </p-inputGroupAddon>
          </p-inputGroup>
        </div>
      </div>

      <!-- E-MAIL -->
      <div class="mb-3">
        <label for="email" class="text-slate-500 pb-3 text-sm font-semibold"
          >E-mail</label
        >
        <div class="relative">
          <p-inputGroup>
            <input
              pInputText
              class="w-full"
              type="text"
              id="email"
              style="padding-right: 2.25rem"
              placeholder="Seu E-mail"
              required
              [disabled]="!editEmail"
              [(ngModel)]="newEmailString"
            />
            <p-inputGroupAddon>
              <button
                (click)="setEditEmail()"
                type="button"
                class="p-0 m-0 border-none bg-inherit cursor-pointer flex justify-center items-center"
              >
                @if (editEmail) {
                <span class="material-symbols-outlined text-green-500">
                  check_circle
                </span>
                }@else {
                <span class="material-symbols-outlined text-slate-400">
                  edit_square
                </span>
                }
              </button>
            </p-inputGroupAddon>
          </p-inputGroup>
        </div>
      </div>

      <div class="mb-3 mt-4">
        <mat-expansion-panel class="">
          <mat-expansion-panel-header class="!text-slate-600">
            Mudar senha
          </mat-expansion-panel-header>

          <!-- MAT EXPANSION PANEL INVISIBLE -->
          <form
            (submit)="updatePassword()"
            [formGroup]="changePasswordForm"
            class="flex w-full gap-4 flex-col"
          >
            <div class="mb-3">
              <label
                for="oldPassword"
                class="text-slate-500 pb-1 text-sm font-semibold"
                >Senha Anterior</label
              >
              <div class="relative">
                <p-password
                  id="oldPassword"
                  [style]="{ width: '100%' }"
                  formControlName="oldPassword"
                  [toggleMask]="true"
                  [feedback]="false"
                />
              </div>
            </div>

            <div class="mb-3">
              <label
                for="password"
                class="text-slate-500 pb-1 text-sm font-semibold"
                >Nova Senha</label
              >
              <div class="relative">
                <p-password
                  [style]="{ width: '100%' }"
                  id="password"
                  formControlName="password"
                  [toggleMask]="true"
                  class="!w-full"
                />
              </div>
            </div>

            <div class="mb-3">
              <label
                for="confirmPassword"
                class="text-slate-500 pb-1 text-sm font-semibold"
                >Confirmar Nova Senha</label
              >
              <div class="relative">
                <p-password
                  [style]="{ width: '100%' }"
                  id="confirmPassword"
                  formControlName="confirmPassword"
                  [toggleMask]="true"
                  [feedback]="false"
                />
              </div>
            </div>

            @if (changePasswordForm.errors?.['passwordsMismatch']) {
            <p class="p-0 m-0 text-red-600 text-sm">Senhas não conferem.</p>
            } @else if (changePasswordError) {
            <p class="p-0 m-0 text-red-600 text-sm">{{ changePasswordError }}</p>
            }

            <input
              [disabled]="!changePasswordForm.valid || changePasswordLoading"
              type="submit"
              class="btn btn-principal"
              value="Atualizar senha"
            />
          </form>
        </mat-expansion-panel>
      </div>
    </div>
    }
  </section>
</main>

<!-- <div
              *ngIf="
                loginForm.get('password')?.errors &&
                loginForm.get('password')?.touched
              "
            >
              <P
                class="text-sm text-red-600"
                *ngIf="loginForm.get('password')?.errors?.['required']"
                >Senha é obrigatória.</P
              >
              <P
                class="text-sm text-red-600"
                *ngIf="loginForm.get('password')?.errors?.['minlength']"
                >Senha deve ter no mínimo 3 caracteres.</P
              >
              <P
                class="text-sm text-red-600"
                *ngIf="loginForm.get('password')?.errors?.['maxlength']"
                >Senha deve ter no máximo 100 caracteres.</P
              >
            </div> -->
