<div
  class="w-screen h-screen flex justify-center items-center bg-gradient-to-r from-teal-400 to-teal-700"
>
  <div class="flex items-center flex-col h-full">
    <div class="flex-1 flex items-center justify-center">
      @if(pageLoading) {
      <section
        class="px-8 py-6 bg-gray-50 rounded-lg shadow-xl w-[400px] h-[350px] flex items-center justify-center"
      >
        <mat-spinner diameter="70"></mat-spinner>
      </section>
      } @else if(!invalidToken) { @if (successToUpdatePassword) {
      <section
        class="px-8 py-6 bg-gray-50 rounded-lg shadow-xl w-[500px] h-[300px] flex flex-col items-center justify-center gap-5"
      >
        <h1 class="text-center text-3xl font-semibold text-gray-900">
          Senha Alterada! ✨
        </h1>
        <p class="text-lg text-gray-800 text-center">
          Agora, você já pode fazer login com sua nova senha.
        </p>
        <a
          type="button"
          routerLink="/"
          class="px-3 py-3 bg-teal-600 text-center font-medium text-white rounded-lg cursor-pointer"
          >ir para a tela de login</a
        >
      </section>
      } @else {
      <section class="px-8 py-6 bg-gray-50 rounded-lg shadow-xl w-[400px]">
        <form
          (submit)="sendForgotPassword()"
          [formGroup]="forgotPasswordForm"
          class=""
        >
          <h2
            class="text-center text-2xl font-bold text-gray-600 block"
          >
            Redefinir senha
          </h2>

          <p class="text-base text-gray-400 text-center mb-4 font-medium">
            Insira uma nova senha
          </p>

          <div>
            <div class="mb-3">
              <label
                for="password"
                class="text-slate-500 pb-1 text-sm font-semibold"
                >Senha</label
              >
              <div class="relative">
                <p-password
                  class="w-full inline-block"
                  styleClass="w-full inline-block"
                  [feedback]="false"
                  id="password"
                  formControlName="password"
                  [toggleMask]="true"
                  placeholder="•••••••••"
                  required
                />
              </div>
            </div>
          </div>

          <div>
            <div class="mb-3">
              <label
                for="confirmPassword"
                class="text-slate-500 pb-1 text-sm font-semibold"
                >Confirmar Senha</label
              >
              <div class="relative">
                <p-password
                  class="w-full inline-block"
                  styleClass="w-full inline-block"
                  [feedback]="false"
                  id="confirmPassword"
                  formControlName="confirmPassword"
                  [toggleMask]="true"
                  placeholder="•••••••••"
                  required
                />
              </div>
            </div>
          </div>

          <div
            *ngIf="
              forgotPasswordForm.get('password')?.errors &&
              forgotPasswordForm.get('password')?.touched
            "
          >
            <P
              class="text-sm text-red-600"
              *ngIf="forgotPasswordForm.get('password')?.errors?.['required']"
              >Senha é obrigatória.</P
            >
            <P
              class="text-sm text-red-600"
              *ngIf="forgotPasswordForm.get('password')?.errors?.['minlength']"
              >Senha deve ter no mínimo 3 caracteres.</P
            >
            <P
              class="text-sm text-red-600"
              *ngIf="forgotPasswordForm.get('password')?.errors?.['maxlength']"
              >Senha deve ter no máximo 100 caracteres.</P
            >
          </div>
          <div
            *ngIf="
              forgotPasswordForm.get('confirmPassword')?.errors &&
              forgotPasswordForm.get('confirmPassword')?.touched
            "
          >
            <P
              class="text-sm text-red-600"
              *ngIf="forgotPasswordForm.get('confirmPassword')?.errors?.['required']"
              >Confirmar senha é obrigatório.</P
            >
            <P
              class="text-sm text-red-600"
              *ngIf="forgotPasswordForm.get('confirmPassword')?.errors?.['minlength']"
              >Confirmar senha deve ter no mínimo 3 caracteres.</P
            >
            <P
              class="text-sm text-red-600"
              *ngIf="forgotPasswordForm.get('confirmPassword')?.errors?.['maxlength']"
              >Confirmar senha deve ter no máximo 100 caracteres.</P
            >
          </div>
          <div *ngIf="forgotPasswordForm.errors?.['passwordsMismatch']">
            <P class="text-sm text-red-600">As senhas não coincidem.</P>
          </div>

          @if(fromServerError) {
          <p class="text-sm my-2 text-red-600">
            houve um erro: {{ fromServerError }}
          </p>
          }

          <div class="mt-8 w-full flex items-center justify-center">
            <button
              aria-label="Fazer o login"
              [disabled]="
                !forgotPasswordForm.valid || sendForgotPasswordLoading
              "
              type="submit"
              class="disabled:bg-slate-400 border-0 w-full px-9 py-2 bg-teal-600 text-white font-semibold text-sm rounded-lg flex gap-2 items-center justify-center"
            >
              @if(sendForgotPasswordLoading) {
              <div class="px-8 py-1">
                <mat-spinner diameter="20"></mat-spinner>
              </div>
              } @else { Alterar senha }
            </button>
          </div>
        </form>
      </section>
      } } @else {
      <section
        class="px-8 py-6 bg-gray-50 rounded-lg shadow-xl w-[500px] h-[300px] flex items-center"
      >
        <div class="">
          <h1 class="text-center text-3xl font-semibold text-gray-900 my-2">
            Erro ao verificar o token de Redefinição de Senha 😥
          </h1>
          <p class="text-lg text-red-600 my-2 text-center mt-8">
            {{ fromServerError }}
          </p>
        </div>
      </section>
      }
    </div>

    <footer class="w-full my-2">
      <p class="text-sm text-white">
        &copy; 2024 Controle Certo. All rights reserved | Made by Guilherme
        Duarte.
      </p>
      <p></p>
    </footer>
  </div>
</div>
