<div
  data-twe-toggle="modal"
  class="bg-gray-600 bg-opacity-50 overflow-y-auto overflow-x-hidden fixed flex top-0 right-0 left-0 z-10 justify-center items-center w-full md:inset-0 h-full max-h-full"
>
  <div class="flex gap-16">
    <button
      type="button"
      class="create-record-options bg-red-700"
    >
      <span class="material-icons-outlined"> shopping_cart </span>
      Gasto
    </button>
    <button
      type="button"
      class="create-record-options bg-green-600"
    >
      <span class="material-icons-outlined"> savings </span>
      Receita
    </button>

    <button
      type="button"
      class="create-record-options bg-yellow-400"
    >
      <span class="material-icons-outlined"> credit_card </span>
      Cartão de Crédito
    </button>

    <button
      type="button"
      class="create-record-options bg-blue-600"
    >
      <span class="material-icons-outlined"> sync_alt </span>
      Transferência
    </button>
  </div>
</div>
