@if(data) {
<p-dialog
  [header]="getDialogTitle()"
  [modal]="true"
  [(visible)]="visible"
  [style]="{ width: '42rem' }"
  [dismissableMask]="true"
  (onHide)="closeDialog(false)"
>
  <ng-template pTemplate="body" class="bg-slate-300">
    <form [formGroup]="transactionForm" class="dForm-dialog-container">
      <!-- FIRST COLUMN -->
      <div class="two-side-form-section">
        <!-- AMOUNT INPUT -->
        <div class="w-full md:w-6/12">
          <label for="amount" class="label">Valor</label>
          <input
            pInputText
            formControlName="amount"
            appCurrencyMask
            prefix="R$ "
            thousandSeparator="."
            (change)="changeAmountPerInstallment()"
            id="amount"
            [ngClass]="{
              'text-red': data.transactionType === 0,
              'text-green': data.transactionType === 1,
              'text-yellow': data.transactionType === 2
            }"
            class="block w-full font-semibold"
            required
          />
        </div>

        <!-- DATEPICKER -->
        <div class="w-full md:w-6/12">
          <label for="purchaseDatePicker" class="label">Data</label>
          <p-calendar
            id="purchaseDatePicker"
            formControlName="purchaseDate"
            [iconDisplay]="'input'"
            [showIcon]="true"
            inputId="icondisplay"
            [style]="{ width: '100%' }"
            appendTo="body"
            dateFormat="dd/mm/yy"
            [touchUI]="false"
          />
        </div>
      </div>

      <!-- SECOND COLUMN (CREDIT CARD) INSTALLMENT INPUT TO CREDIT -->
      @if(data.transactionType === 2){
      <div class="flex items-center gap-4">
        <div class="md:w-6/12 w-4/12">
          <label class="label" for="installment">Parcelas</label>
          <p-inputNumber
            mode="decimal" 
            id="installment"
            [min]="0" 
            [max]="100"
            aria-describedby="installments-help"
            [(ngModel)]="installments"
            [ngModelOptions]="{ standalone: true }"
            class="w-full"
            required
            styleClass="w-full"
          />
        </div>

        <div class="md:w-6/12 w-8/12">
          <label for="installmentValue" class="label">Valor por Fatura</label>
          <p
            type="string"
            id="installment"
            class="cursor-not-allowed bg-gray-50 border border-gray-200 !text-gray-700 text-sm rounded-lg w-full p-2.5 m-0 dark:text-white"
          >
            {{ amountPerInstallment | currency : "BRL" : "symbol" }}
          </p>
        </div>
      </div>
      }

      <!-- SECOND COLUMN -->
      <!-- SELECTIONS -->
      <div class="two-side-form-section">
        <!-- CATEGORY SELECTION -->
        <div class="w-full">
          <p class="label" for="categories">Categoria</p>
          <p-dropdown
            id="categories"
            [options]="categories"
            [formControl]="transactionForm.controls.categoryId"
            optionLabel="name"
            optionValue="id"
            [showClear]="true"
            placeholder="Selecione uma Categoria"
            [filter]="true"
            filterBy="name"
            [style]="{ width: '100%' }"
            appendTo="body"
          >
            <!-- Template para o item selecionado -->
            <ng-template pTemplate="selectedItem">
              <div
                style="height: 20px"
                class="flex items-center gap-2"
                *ngIf="selectedCategory"
              >
                <div
                  [ngStyle]="{ 'background-color': selectedCategory.color }"
                  class="rounded-selection-item"
                >
                  <span
                    class="material-symbols-outlined"
                    style="font-size: 1rem; color: white"
                  >
                    {{ selectedCategory.icon }}
                  </span>
                </div>
                <p class="custom-text-style">
                  {{ selectedCategory.name }}
                </p>
              </div>
            </ng-template>

            <!-- Template para cada item na lista -->
            <ng-template let-category pTemplate="item">
              <div style="height: 20px" class="flex items-center gap-2">
                <div
                  [ngStyle]="{ 'background-color': category.color }"
                  class="rounded-selection-item"
                >
                  <span
                    class="material-symbols-outlined"
                    style="font-size: 1rem; color: white"
                  >
                    {{ category.icon }}
                  </span>
                </div>
                <p class="custom-text-style">
                  {{ category.name }}
                </p>
              </div>
            </ng-template>
          </p-dropdown>
        </div>

        <!-- ACCOUNT/CREDIT CARD SELECTION -->
        <div class="w-full relative">
          @if(data.transactionType === 2) {
          <p class="label" for="accounts">Cartão</p>
          <p-dropdown
            id="accounts"
            [options]="creditCards"
            [formControl]="transactionForm.controls.creditCardId"
            optionLabel="description"
            optionValue="id"
            [showClear]="true"
            placeholder="Selecione um cartão"
            [style]="{ width: '100%' }"
            appendTo="body"
          >
            <!-- Template para o item selecionado -->
            <ng-template pTemplate="selectedItem">
              <div
                style="height: 20px"
                class="flex items-center gap-2"
                *ngIf="selectedCreditCard"
              >
                <div
                  [ngStyle]="{
                    'background-color': selectedCreditCard.account.color
                  }"
                  class="rounded-selection-item"
                >
                  <span
                    class="material-symbols-outlined"
                    style="font-size: 1rem; color: white"
                  >
                    account_balance
                  </span>
                </div>
                <p class="custom-text-style">
                  {{ selectedCreditCard.description }}
                </p>
              </div>
            </ng-template>

            <!-- Template para cada item na lista -->
            <ng-template let-creditCard pTemplate="item">
              <div style="height: 20px" class="flex items-center gap-2">
                <div
                  [ngStyle]="{ 'background-color': creditCard.account.color }"
                  class="rounded-selection-item"
                >
                  <span
                    class="material-symbols-outlined"
                    style="font-size: 1rem; color: white"
                  >
                    account_balance
                  </span>
                </div>
                <p class="custom-text-style">
                  {{ creditCard.description }}
                </p>
              </div>
            </ng-template>
          </p-dropdown>
          @if (selectedCreditCard) {
          <p
            [ngClass]="{
              '!text-red-500':
                transactionForm.value.amount! >
                selectedCreditCard!.totalLimit - selectedCreditCard!.usedLimit
            }"
            class="text-green-500 absolute top-full left-0 mt-1 text-xs font-medium"
          >
            Limite:
            {{
              selectedCreditCard!.totalLimit - selectedCreditCard!.usedLimit
                | currency : "BRL" : "symbol"
            }}
          </p>
          } } @else {
          <p class="label" for="accounts">Conta</p>
          <p-dropdown
            id="accounts"
            [options]="accounts"
            [formControl]="transactionForm.controls.accountId"
            optionLabel="name"
            optionValue="id"
            [showClear]="true"
            placeholder="Selecione uma conta"
            [style]="{ width: '100%' }"
            appendTo="body"
          >
            <!-- Template para o item selecionado -->
            <ng-template pTemplate="selectedItem">
              <div
                style="height: 20px"
                class="flex items-center gap-2"
                *ngIf="selectedAccount"
              >
                <div
                  [ngStyle]="{ 'background-color': selectedAccount.color }"
                  class="rounded-selection-item"
                >
                  <span
                    class="material-symbols-outlined"
                    style="font-size: 1rem; color: white"
                  >
                    account_balance
                  </span>
                </div>
                <p class="custom-text-style">
                  {{ selectedAccount.bank }}
                </p>
              </div>
            </ng-template>

            <!-- Template para cada item na lista -->
            <ng-template let-account pTemplate="item">
              <div style="height: 20px" class="flex items-center gap-2">
                <div
                  [ngStyle]="{ 'background-color': account.color }"
                  class="rounded-selection-item"
                >
                  <span
                    class="material-symbols-outlined"
                    style="font-size: 1rem; color: white"
                  >
                    account_balance
                  </span>
                </div>
                <p class="custom-text-style">
                  {{ account.bank }}
                </p>
              </div>
            </ng-template>
          </p-dropdown>
          }
        </div>
      </div>

      <!-- FOUR COLUMN -->
      <!-- DESCRIPTION TEXTAREA -->
      <div class="">
        <label for="description" class="label">Descrição</label>
        <input
          pInputText
          formControlName="description"
          id="description"
          class="block w-full"
          placeholder="Insira uma descrição."
        />
      </div>

      <!-- THIRD COLUMN -->
      <!-- DESTINATION INPUT -->
      <div>
        <label for="destination" class="label">{{
          data.transactionType === 1 ? "Origem" : "Destino"
        }}</label>
        <input
          pInputText
          formControlName="destination"
          type="text"
          id="destination"
          class="block w-full"
          [placeholder]="
            data.transactionType === 1
              ? 'Origem da Receita'
              : 'Destino do Gasto'
          "
          required
        />
      </div>

      @if(data.transactionType !== 2) {
      <div>
        <p-checkbox
          formControlName="justForRecord"
          label="Não tirar ou adicionar o valor a conta"
          name="justForRecord"
          [binary]="true"
        />
      </div>
      }
    </form>
  </ng-template>

  <ng-template pTemplate="footer">
    <button
      pButton
      label="Fechar"
      icon="pi pi-times"
      size="small"
      severity="danger"
      (click)="closeDialog(false)"
    ></button>
    <button
      pButton
      label="Confirmar"
      icon="pi pi-check"
      size="small"
      severity="primary"
      (click)="createTransaction()"
      [disabled]="isFormInvalid()"
    ></button>
  </ng-template>
</p-dialog>

}


<p-toast />
