<h2 mat-dialog-title class="ml-3 mt-3 text-base font-semibold text-slate-700">{{data.title}}</h2>
<mat-dialog-content class="w-[600px]">
  @if ((creditExpenses$ | async)?.length === 0) {
    <p class="">Nenhuma compra localizada para essa fatura!</p>
  }

  @for (creditExpense of creditExpenses$ | async; track creditExpense) {
    <div
    class="bg-slate-50 border border-solid w-full shadow rounded px-4 py-2 my-4 flex flex-col"
  >
    <h3 class="text-sm font-semibold">
      {{ creditExpense.description }}
    </h3>

    <p class="text-sm">Para: {{creditExpense.destination}}</p>

    <div class="text-sm flex items-center justify-between">
      <p class="text-red-500">
        Valor:
        <span class="font-semibold">{{
          creditExpense.amount | currency : "BRL" : "symbol"
        }}</span>
      </p>

      <p class="text-slate-800">
        Data da compra: {{formaterService.formatDateString(creditExpense.purchaseDate)}}
      </p>
    </div>
  </div>
  }
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button (click)="closeDialog()">Fechar</button>
</mat-dialog-actions>
