<section class="registration-container">
  <div class="flex w-full justify-between items-center mb-4">
    <h2 class="text-2xl font-bold text-slate-700 tracking-wide">Contas</h2>

    <button
      (click)="openAccountDialog()"
      class="flex items-center gap-2 bg-teal-200 rounded-lg px-2 py-1"
    >
      <span
        aria-label="sinal de mais"
        class="material-symbols-outlined text-base text-teal-700"
      >
        add_circle
      </span>
      <p class="text-sm text-teal-700">Adicionar Conta</p>
    </button>
  </div>

  <ul class="w-full">
    @for(account of accounts$ | async; track account) {
    <li
      class="my-4 py-4 flex justify-between w-full items-center border-b border-solid border-slate-200"
    >
      <div class="flex items-center gap-3">
        <button
          type="button"
          (click)="openAccountDialog(account)"
          [ngStyle]="{ 'background-color': account.color }"
          class="rounded-full size-9 flex items-center justify-center relative hover:!bg-slate-500 transition duration-200 group"
        >
        <!-- HOVER EDIT ICON -->
        <span aria-label="Editar conta" class="material-symbols-outlined hidden group-hover:block text-xl text-slate-800 absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2">
          edit_square
          </span>

          <span
            *ngIf="account.accountType === 0"
            aria-label="sinal de mais"
            class="material-symbols-outlined text-base text-white block group-hover:hidden"
          >
            account_balance
          </span>
          <span
            *ngIf="account.accountType === 1"
            aria-label="sinal de mais"
            class="material-symbols-outlined text-base text-white block group-hover:hidden"
          >
            savings
          </span>
          <span
            *ngIf="account.accountType === 2"
            aria-label="sinal de mais"
            class="material-symbols-outlined text-base text-white block group-hover:hidden"
          >
            shopping_bag
          </span>
          <span
            *ngIf="account.accountType === 3"
            aria-label="sinal de mais"
            class="material-symbols-outlined text-base text-white block group-hover:hidden"
          >
            trending_up
          </span>
          <span
            *ngIf="account.accountType === 4"
            aria-label="sinal de mais"
            class="material-symbols-outlined text-base text-white block group-hover:hidden"
          >
            account_balance_wallet
          </span>
          <span
            *ngIf="account.accountType === 5"
            aria-label="sinal de mais"
            class="material-symbols-outlined text-base text-white block group-hover:hidden"
          >
            star
          </span>
        </button>

        <p class="text-base text-slate-600 font-bold">{{ account.bank }}</p>
      </div>
      <div class="flex gap-2 items-center">
        <p class="text-sm font-medium text-slate-700">saldo atual:</p>
        <p class="text-sm font-medium text-green-500">
          {{ account.balance | currency : "BRL" : "symbol" }}
        </p>
        <button
          class="text-slate-600 flex items-center justify-center"
          [matMenuTriggerFor]="menu"
          aria-label="Example icon-button with a menu"
        >
          <span class="material-symbols-outlined text-xl"> more_vert </span>
        </button>
        <mat-menu #menu="matMenu">
          <button (click)="openDeleteAlertDialog(account)" class="!py-1 !min-h-0" mat-menu-item>
            <p class="text-sm text-red-600 flex items-center gap-1"
              ><span class="material-symbols-outlined text-base"> delete </span
              >excluir</p
            >
          </button>
        </mat-menu>
      </div>
    </li>
    }
  </ul>
</section>
