
<section class="flex w-full px-6 gap-6 mt-10">
  <!-- SALDO -->
  <div class="bg-slate-50 w-72 shadow h-24 rounded-lg flex justify-between items-center px-4">
    <div class="h-full flex flex-col justify-between ">
      <p class="pt-4 text-slate-600 ">Saldo atual</p>
      <p class="py-4 font-bold">R$ 324,32</p>
    </div>
    <div class="rounded-full w-14 h-14 bg-blue-600"></div>
  </div>

  <!-- RECEITA -->
  <div class="bg-slate-50 w-72 shadow h-24 rounded-lg flex justify-between items-center px-4">
    <div class="h-full flex flex-col justify-between ">
      <p class="pt-4 text-slate-600 ">Receitas do mês</p>
      <p class="py-4 font-bold">R$ 324,32</p>
    </div>
    <div class="rounded-full w-14 h-14 bg-green-700"></div>
  </div>

  <!-- DESPESAS -->
  <div class="bg-slate-50 w-72 shadow h-24 rounded-lg flex justify-between items-center px-4">
    <div class="h-full flex flex-col justify-between ">
      <p class="pt-4 text-slate-600 ">Despesas do mês</p>
      <p class="py-4 font-bold">R$ 324,32</p>
    </div>
    <div class="rounded-full w-14 h-14 bg-red-600"></div>
  </div>

  <!-- CARTÃO DE CRÉDITO -->
  <div class="bg-slate-50 w-72 shadow h-24 rounded-lg flex justify-between items-center px-4">
    <div class="h-full flex flex-col justify-between ">
      <p class="pt-4 text-slate-600 ">Fatura do mês</p>
      <p class="py-4 font-bold">R$ 324,32</p>
    </div>
    <div class="rounded-full w-14 h-14 bg-yellow-400"></div>
  </div>
</section>

<!-- Modal toggle -->
<button data-modal-target="expense-modal" data-modal-toggle="expense-modal" class="block text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800" type="button">
  Abrir modal da gasto
</button>

<app-create-expense-modal></app-create-expense-modal>

