<app-sidebar></app-sidebar>
<section class="w-full mt-10 pl-20">
  <div class="flex w-full px-6 gap-6">
    <!-- SALDO -->
    <div
      class="bg-slate-50 w-72 shadow h-24 rounded-lg flex justify-between items-center px-4"
    >
      <div class="h-full flex flex-col justify-between">
        <p class="pt-4 text-slate-600">Saldo atual</p>
        <p class="py-4 font-bold">{{balance.balance | currency:'BRL':'symbol'}}</p>
      </div>
      <div class="rounded-full w-14 h-14 bg-blue-600"></div>
    </div>

    <!-- RECEITA -->
    <div
      class="bg-slate-50 w-72 shadow h-24 rounded-lg flex justify-between items-center px-4"
    >
      <div class="h-full flex flex-col justify-between">
        <p class="pt-4 text-slate-600">Receitas do mês</p>
        <p class="py-4 font-bold">{{balance.incomes | currency:'BRL':'symbol'}}</p>
      </div>
      <div class="rounded-full w-14 h-14 bg-green-700"></div>
    </div>

    <!-- DESPESAS -->
    <div
      class="bg-slate-50 w-72 shadow h-24 rounded-lg flex justify-between items-center px-4"
    >
      <div class="h-full flex flex-col justify-between">
        <p class="pt-4 text-slate-600">Despesas do mês</p>
        <p class="py-4 font-bold">{{balance.expenses | currency:'BRL':'symbol'}}</p>
      </div>
      <div class="rounded-full w-14 h-14 bg-red-600"></div>
    </div>

    <!-- CARTÃO DE CRÉDITO -->
    <div
      class="bg-slate-50 w-72 shadow h-24 rounded-lg flex justify-between items-center px-4"
    >
      <div class="h-full flex flex-col justify-between">
        <p class="pt-4 text-slate-600">Fatura do mês</p>
        <p class="py-4 font-bold">{{balance.invoices | currency:'BRL':'symbol'}}</p>
      </div>
      <div class="rounded-full w-14 h-14 bg-yellow-400"></div>
    </div>
  </div>
</section>


