<nav
  class="bg-teal-600 h-14 w-screen flex items-center mb-12 justify-center"
>
<div class="max-w-[800px] flex items-center h-full">
<a
  [class.active-route-sidebar]="isCurrentRoute('/home')"
  routerLink="/home"
  class="flex items-center h-full pointer mx-4 text-slate-200 font-light text-base"
>
  Visão Geral
</a>

<a
  [class.active-route-sidebar]="isCurrentRoute('/registrations')"
  routerLink="/registrations/accounts"
  class="flex items-center h-full pointer mx-4 text-slate-200 font-light text-base"
>
  Cadastros
</a>

<a
  [class.active-route-sidebar]="isCurrentRoute('/transactions')"
  routerLink="/transactions"
  class="flex items-center h-full pointer mx-4 text-slate-200 font-light text-base"
>
  Lançamentos
</a>

</div>
</nav>
