<h2
  class="!ml-6 !mb-4 !mt-4 !text-xl !font-normal !tracking-wide !text-slate-700"
  mat-dialog-title
>
  
  Pagamento de Fatura
</h2>

<mat-dialog-content class="min-w-[500px]">
  <form [formGroup]="invoicePaymentForm" class="m-8 flex flex-col gap-4">
    <!-- FIRST COLUMN -->
    <div class="flex items-center gap-4">
      <!-- AMOUNT INPUT -->
      <div class="w-6/12 relative">
        <label
          for="amountPaid"
          class="block mb-1 text-sm font-medium text-slate-600 dark:text-white"
          >Valor</label
        >
        <input
          formControlName="amountPaid"
          appCurrencyMask
          prefix="R$ "
          thousandSeparator="."
          id="amountPaid"
          class="text-green-600 bg-gray-50 border border-gray-300 text-sm rounded-lg focus:!ring-blue-500 focus:!border-blue-500 block w-full p-2.5"
          required
        />
      </div>

      <!-- DATEPICKER -->
      <div class="w-6/12">
        <label
          for="paymentDatePicker"
          class="block mb-1 text-sm font-medium text-slate-600 dark:text-white"
          >Data</label
        >
        <div class="relative">
          <mat-datepicker-toggle
            class="absolute top-1/2 transform -translate-y-1/2"
            matIconSuffix
            [for]="picker"
          ></mat-datepicker-toggle>
          <input
            id="paymentDatePicker"
            formControlName="paymentDate"
            (click)="picker.open()"
            class="pl-10 w-full bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-700 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
            [matDatepicker]="picker"
          />
          <mat-datepicker #picker></mat-datepicker>
        </div>
      </div>
    </div>

    <!-- SECOND COLUMN -->
    <!-- SELECTIONS -->
    <div class="flex gap-4 mb-2">
      <!-- ACCOUNT/CREDIT CARD SELECTION -->
      <div class="w-full relative">
        <p
          class="block mb-1 text-sm font-medium text-slate-600 dark:text-white"
        >
          Conta
        </p>

        <div
          role="button"
          tabindex="0"
          (click)="toggleSelection($event)"
          class="relative bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-700 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
        >
          <div class="w-full flex items-center">
            @if (selectedAccount) {
            <div class="gap-2 flex items-center w-full overflow-hidden">
              <div
                [ngStyle]="{
                  'background-color': selectedAccount!.color
                }"
                class="h-6 w-7 rounded-lg flex justify-center items-center"
              >
                <span class="material-symbols-outlined text-base text-white">
                  account_balance
                </span>
              </div>
              <p class="overflow-hidden text-xs text-slate-800 font-semibold">
                {{ selectedAccount!.bank }}
              </p>
            </div>
            } @else {
            <p
              class="text-sm text-slate-500 w-11/12 overflow-x-hidden text-ellipsis whitespace-nowrap"
            >
              Selecione uma conta
            </p>
            }

            <span class="ml-2 material-symbols-outlined text-slate-500">
              arrow_drop_down
            </span>
          </div>

          <div
            *ngIf="accountSelection()"
            class="w-full max-h-52 z-50 bg-white absolute top-full left-0 overflow-y-scroll rounded shadow"
          >
            @for (account of accounts; track account) {
            <button
              (click)="changeSelectedItem(account)"
              class="py-2 px-3 gap-2 flex items-center hover:bg-slate-200 transition-all duration-150 w-full"
            >
              <div
                [ngStyle]="{ 'background-color': account.color }"
                class="h-6 w-7 rounded-lg flex justify-center items-center"
              >
                <span class="material-symbols-outlined text-base text-white">
                  account_balance
                </span>
              </div>
              <p class="overflow-hidden text-xs text-slate-800 font-semibold">
                {{ account.bank }}
              </p>
            </button>
            }
          </div>
        </div>
        @if(selectedAccount) {
          <p 
          [ngClass]="{'!text-red-500': (invoicePaymentForm.value.amountPaid! > selectedAccount!.balance)}"
          class="text-green-500 absolute top-full left-0 mt-1 text-xs font-medium">
            Saldo: {{(selectedAccount.balance) | currency : "BRL" : "symbol"}}
          </p>
        }
      </div>
    </div>

    <!-- THIRD COLUMN -->
    <!-- DESTINATION INPUT -->
    <div>
      <label
        for="description"
        class="block mb-1 text-sm font-medium text-slate-600 dark:text-white"
        >Descrição</label
      >
      <input
        formControlName="description"
        type="text"
        id="description"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-700 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
        placeholder="Descrição..."
        required
      />
    </div>

    <div class="!mt-0">
      <mat-checkbox formControlName="justForRecord">Ignorar valor da transação</mat-checkbox>
    </div>
  </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button (click)="closeDialog(false)">Cancelar</button>
  <button
    (click)="payInvoice()"
    [disabled]="!invoicePaymentForm.valid"
    mat-button
  >
    Pagar
  </button>
</mat-dialog-actions>
