@use '@angular/material' as mat;
@use './custom-theme.scss' as custom-theme;
@include mat.all-component-themes(custom-theme.$app-theme);

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200");
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  /* font-family: "Roboto", sans-serif; */
  font-family: "Inter", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  background-color: rgb(228, 232, 236);
}

.dialog-responsive {
  padding: 0;
}

.registration-container {
  @apply flex flex-col sm:w-full w-screen gap-1 flex-1 flex-wrap bg-white rounded-lg md:p-4 md:pl-8 md:pt-8 p-2 pl-4 pt-4;
}


.text-low {
  @apply text-sm font-medium text-gray-700;
}

.label {
  @apply block mb-2 text-sm font-medium text-gray-900 dark:text-white;
}

.input {
  @apply bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500
}

.btn-xs {
  @apply px-3 py-2 text-xs font-medium text-center text-white rounded-lg focus:outline-none disabled:bg-gray-400 disabled:hover:bg-gray-400;
}

.btn-sm {
  @apply px-3 py-2 text-sm font-medium text-center text-white rounded-lg focus:outline-none disabled:bg-gray-400 disabled:hover:bg-gray-400;
}

.btn {
  @apply px-5 py-2.5 text-sm font-medium text-center text-white rounded-lg focus:outline-none disabled:bg-gray-400 disabled:hover:bg-gray-400;
}

.btn-lg {
  @apply px-6 py-3 text-base font-medium text-center text-white rounded-lg focus:outline-none disabled:bg-gray-400 disabled:hover:bg-gray-400;
}

.btn-xl {
  @apply px-5 py-3.5 text-base font-medium text-center text-white rounded-lg focus:outline-none disabled:bg-gray-400 disabled:hover:bg-gray-400;
}

.btn-principal {
  @apply  bg-teal-700 hover:bg-teal-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-teal-700 dark:hover:bg-teal-800 dark:focus:bg-teal-800;
}

.create-record-options {
  @apply flex items-center gap-2 font-light text-white text-xl w-60 h-36 justify-center rounded-2xl shadow transition-transform transform hover:scale-105
}

.active-route-sidebar {
  @apply md:font-bold border-solid border-b-2 border-white
}

.snackbar-error {
  background-color: red !important;
  color: black !important;
  font-size: 16px !important;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

input::-ms-reveal {
  display: none;
}

/* Remove password reveal icon in Chrome, Safari, Edge, Opera */
input::-webkit-credentials-auto-fill-button,
input::-webkit-autofill-button,
input::-webkit-clear-button,
input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
  display: none;
}
