<h2
  class="!ml-6 !mb-4 !mt-4 !text-xl !font-normal !tracking-wide !text-slate-700"
  mat-dialog-title
>
  {{
    data.transactionType === 0
      ? "Nova Despesa"
      : data.transactionType === 1
      ? "Nova Receita"
      : "Nova Despesa Cartão"
  }}
</h2>

<mat-dialog-content class="min-w-[500px]">
  <form [formGroup]="transactionForm" class="m-8 flex flex-col gap-4">
    <!-- FIRST COLUMN -->
    <div class="flex items-center gap-4">
      <!-- AMOUNT INPUT -->
      <div class="w-6/12">
        <label
          for="amount"
          class="block mb-1 text-sm font-medium text-slate-600 dark:text-white"
          >Valor</label
        >
        <input
          formControlName="amount"
          appCurrencyMask
          prefix="R$ "
          (change)="changeAmountPerInstallment()"
          id="amount"
          [ngClass]="{
            'text-red-700': data.transactionType === 0,
            'text-green-600': data.transactionType === 1,
            'text-yellow-400': data.transactionType === 2
          }"
          class="bg-gray-50 border border-gray-300 text-sm rounded-lg focus:!ring-blue-500 focus:!border-blue-500 block w-full p-2.5"
          required
        />
      </div>

      <!-- DATEPICKER -->
      <div class="w-6/12">
        <label
          for="purchaseDatePicker"
          class="block mb-1 text-sm font-medium text-slate-600 dark:text-white"
          >Data</label
        >
        <div class="relative">
          <mat-datepicker-toggle
            class="absolute top-1/2 transform -translate-y-1/2"
            matIconSuffix
            [for]="picker"
          ></mat-datepicker-toggle>
          <input
            id="purchaseDatePicker"
            formControlName="purchaseDate"
            (click)="picker.open()"
            class="pl-10 w-full bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-700 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
            [matDatepicker]="picker"
          />
          <mat-datepicker #picker></mat-datepicker>
        </div>
      </div>
    </div>

    <!-- SECOND COLUMN (CREDIT CARD) INSTALLMENT INPUT TO CREDIT -->
    @if(data.transactionType === 2){
    <div class="flex items-center gap-4">
      <div class="w-6/12">
        <label
          for="installment"
          class="block mb-1 text-sm font-medium text-slate-600 dark:text-white"
          >Parcelas</label
        >
        <input
          [(ngModel)]="installments"
          [ngModelOptions]="{ standalone: true }"
          (change)="changeAmountPerInstallment()"
          type="number"
          id="installment"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-700 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          required
        />
      </div>
      <div class="w-6/12">
        <label
          for="installmentValue"
          class="block mb-1 text-sm font-medium text-slate-500 dark:text-white"
          >Valor por Fatura</label
        >
        <input
          readonly
          [(ngModel)]="amountPerInstallment"
          [ngModelOptions]="{ standalone: true }"
          appCurrencyMask
          prefix="R$ "
          type="string"
          id="installment"
          class="cursor-not-allowed bg-gray-50 border border-gray-200 text-gray-700 text-sm rounded-lg w-full p-2.5 dark:text-white"
          required
        />
      </div>
    </div>
    }

    <!-- SECOND COLUMN -->
    <!-- SELECTIONS -->
    <div class="flex gap-4">
      <!-- CATEGORY SELECTION -->
      <div class="w-full">
        <p
          class="block mb-1 text-sm font-medium text-slate-600 dark:text-white"
        >
          Categoria
        </p>

        <div
          role="button"
          tabindex="0"
          (click)="toggleSelection($event, 'category')"
          class="relative bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-700 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
        >
          <div class="w-full flex items-center">
            @if (selectedCategory) {
            <div class="gap-2 flex items-center w-full overflow-hidden">
              <div
                [ngStyle]="{ 'background-color': selectedCategory.color }"
                class="h-6 w-7 rounded-lg flex justify-center items-center"
              >
                <span class="material-symbols-outlined text-base text-white">
                  {{ selectedCategory.icon }}
                </span>
              </div>
              <p class="overflow-hidden text-xs text-slate-800 font-semibold">
                {{ selectedCategory.name }}
              </p>
            </div>
            } @else {
            <p
              class="text-sm text-slate-500 w-11/12 overflow-x-hidden text-ellipsis whitespace-nowrap"
            >
              Selecione uma categoria
            </p>
            }

            <span class="ml-2 material-symbols-outlined text-slate-500">
              arrow_drop_down
            </span>
          </div>

          <div
            *ngIf="categorySelection()"
            class="w-52 max-h-52 z-50 bg-white absolute top-full left-0 overflow-y-scroll rounded shadow"
          >
            @for (category of categories; track category) {
            <button
              (click)="changeSelectedItem(category)"
              class="py-2 px-3 gap-2 flex items-center hover:bg-slate-200 transition-all duration-150 w-full"
            >
              <div
                [ngStyle]="{ 'background-color': category.color }"
                class="h-6 w-7 rounded-lg flex justify-center items-center"
              >
                <span class="material-symbols-outlined text-base text-white">
                  {{ category.icon }}
                </span>
              </div>
              <p class="overflow-hidden text-xs text-slate-800 font-semibold">
                {{ category.name }}
              </p>
            </button>
            }
          </div>
        </div>
      </div>

      <!-- ACCOUNT/CREDIT CARD SELECTION -->
      <div class="w-full relative">
        <p
          class="block mb-1 text-sm font-medium text-slate-600 dark:text-white"
        >
          {{ data.transactionType === 2 ? "Cartão" : "Conta" }}
        </p>

        <div
          role="button"
          tabindex="0"
          (click)="toggleSelection($event, 'account')"
          class="relative bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-700 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
        >
          <div class="w-full flex items-center">
            @if (selectedAccount || selectedCreditCard) {
            <div class="gap-2 flex items-center w-full overflow-hidden">
              <div
                [ngStyle]="{
                  'background-color': selectedCreditCard?.account?.color || selectedAccount?.color
                }"
                class="h-6 w-7 rounded-lg flex justify-center items-center"
              >
                <span class="material-symbols-outlined text-base text-white">
                  account_balance
                </span>
              </div>
              <p class="overflow-hidden text-xs text-slate-800 font-semibold">
                {{ selectedAccount?.bank || selectedCreditCard?.description }}
              </p>
            </div>
            } @else {
            <p
              class="text-sm text-slate-500 w-11/12 overflow-x-hidden text-ellipsis whitespace-nowrap"
            >
              {{
                data.transactionType === 2
                  ? "Selecione um cartão"
                  : "Selecione uma conta"
              }}
            </p>
            }

            <span class="ml-2 material-symbols-outlined text-slate-500">
              arrow_drop_down
            </span>
          </div>

          <div
            *ngIf="accountSelection()"
            class="w-52 max-h-52 z-50 bg-white absolute top-full left-0 overflow-y-scroll rounded shadow"
          >
            @if(data.transactionType === 2) { @for (creditCard of creditCards;
            track creditCard) {
            <button
              (click)="changeSelectedItem(creditCard)"
              class="py-2 px-3 gap-2 flex items-center hover:bg-slate-200 transition-all duration-150 w-full"
            >
              <div
                [ngStyle]="{ 'background-color': creditCard?.account?.color }"
                class="h-6 w-7 rounded-lg flex justify-center items-center"
              >
                <span class="material-symbols-outlined text-base text-white">
                  account_balance
                </span>
              </div>
              <p class="overflow-hidden text-xs text-slate-800 font-semibold">
                {{ creditCard.description }}
              </p>
            </button>
            } } @else { @for (account of accounts; track account) {
            <button
              (click)="changeSelectedItem(account)"
              class="py-2 px-3 gap-2 flex items-center hover:bg-slate-200 transition-all duration-150 w-full"
            >
              <div
                [ngStyle]="{ 'background-color': account.color }"
                class="h-6 w-7 rounded-lg flex justify-center items-center"
              >
                <span class="material-symbols-outlined text-base text-white">
                  account_balance
                </span>
              </div>
              <p class="overflow-hidden text-xs text-slate-800 font-semibold">
                {{ account.bank }}
              </p>
            </button>
            } }
          </div>
        </div>

        @if (selectedCreditCard) {
          <p 
          [ngClass]="{'!text-red-500': (transactionForm.value.amount! > (selectedCreditCard!.totalLimit - selectedCreditCard!.usedLimit))}"
          class="text-green-500 absolute top-full left-0 mt-1 text-xs font-medium">
            Limite: {{(selectedCreditCard!.totalLimit - selectedCreditCard!.usedLimit) | currency : "BRL" : "symbol"}}
          </p>
        }
      </div>
    </div>

    <!-- THIRD COLUMN -->
    <!-- DESTINATION INPUT -->
    <div>
      <label
        for="destination"
        class="block mb-1 text-sm font-medium text-slate-600 dark:text-white"
        >Destino</label
      >
      <input
        formControlName="destination"
        type="text"
        id="destination"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-700 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
        [placeholder]="
          data.transactionType === 1 ? 'Origem da Receita' : 'Destino do Gasto'
        "
        required
      />
    </div>

    <!-- FOUR COLUMN -->
    <!-- DESCRIPTION TEXTAREA -->
    <div class="">
      <label
        for="description"
        class="block mb-1 text-sm font-medium text-slate-600 dark:text-white"
        >Descrição</label
      >
      <textarea
        formControlName="description"
        id="description"
        rows="2"
        class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-700 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
        placeholder="Insira uma descrição para esse registro..."
      ></textarea>
    </div>
  </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button (click)="closeDialog(false)">Cancelar</button>
  <button
    [disabled]="!transactionForm.valid"
    mat-button
    (click)="createTransaction()"
  >
    Criar
  </button>
</mat-dialog-actions>
